.Mainwrap {
    width: 370px;
    height: 241px;
    border: none;
    border-radius: 8px;
    background-color: rgb(195, 197, 200);
    margin-bottom: 60px;
    font-family: 'PT Mono';
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;

    & .header__chip_light {
        padding: 25px 0 0 25px;
        width: 45px;
    }
}

.card_number {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0 15px 0;
    font-size: 29px;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
}


.owner,
.expiration {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: baseline;


    & .owner__info,
    .expiration__info {
        font-size: 11px;
        margin: 0;
        color: rgb(0,0,0, 0.6);
    }

    .owner__name,
    .expiration__date {
        font-size: 18px;
        margin: 0 0 0 20px;
    }

}

.expiration {
    width: 100px;
}