.Wrapper {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    & .Title {
        width: 80%;
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
    }

    .Info {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgb(0, 0, 0, 0.5);
        margin-bottom: 15px;
    }

    .Card_stack {
        display: grid;
        grid-template-rows: 45px 45px 45px 45px 45px 45px 1fr;  /*kan lägga till max 7 kort*/
        grid-gap: 10px;
    }

    .Button {
        width: 370px;
        height: 60px;
        padding: 5px;
        margin: 50 0 30px 0;
        font-size: 1rem;
        text-transform: uppercase;
        flex-shrink: 0;
    }
}